@font-face{
    font-family: Aller;
     src: url("Fonte/Aller_Std_Lt.ttf");
}
body{
    background-color: white;
    display:grid;
    position:absolute;
    width:100%;
    height:100%;
    font-size:11pt;
    font-family:Aller;
    margin-top:0;
    margin-left:0;
    
    grid-template-columns:1fr 1fr;
    grid-template-rows: .3fr .3fr .3fr 10fr;
    grid-template-areas:
    "nav nav"
    "titulo titulo"
    "botao_empresas botao_serviços"
    "formulario formulario";
}

#NavTitulo
{
    grid-area: nav;
    color: white;
    overflow: hidden;
    width:100%;
    height:100%;
    background-color:#d91b5b;
    display:inline;
}
ul {
  list-style-type:none;
  margin: .5em;
  padding: 0;
  overflow: hidden;
  background-color: #d91b5b;
}

nav img{
    height: 4.2em;
    width: auto;
    margin-left: 4em;
}

li {
  margin: 1em; 
  margin-top:1.5em;
  float: right;
  color:white;
}
#DivTitulo
{
    grid-area:titulo;
    display:grid;
    width:100%;
    cursor:default;
    user-select: none;
    grid-template-columns:10em 25em auto;
    grid-template-rows:100%;
    grid-template-areas:
    "linha1 titulo linha2";
}
#linhapequena{
    position:relative;
    width:100%;
    height:.3em;
    background-color: #00FFFD;
    grid-area:linha1;
    margin-top:4em;
}
#DivTitulo h1
{
    grid-area:titulo;
    padding:.7em;
    color:#D81B42;
}
#linhagrande{
    position:relative;
    width:100%;
    height:.3em;
    background-color: #00FFFD;
    grid-area:linha2;
    margin-top:4em;
}

a{
    color:white;
    text-decoration: none;
}

#formulario_intro{
    cursor:default;
    user-select: none;
    color:gray;
    grid-area: formulariointro_txt;
    margin-left: 1.5em;
    margin-right: auto;
   
}

#DivAreas
{
    
    text-align:center;
    grid-area:area;
    height:12em;
    width:24em;
    margin: .35em;
    background-color:white;
    position: relative;
    display:grid;
    grid-template-columns:24em;
    grid-template-rows:6em 6em;
    grid-template-areas:
    "botao_empresas"
    "botao_serviços";
    border-style: solid;
    border-width: 0.15em;
    border-color: #00FFFD;
    border-radius: 2.1em;
    cursor:default;
    user-select: none;
}
#BotaoEmpresas,#BotaoServicos
{
    text-align:center;
    margin-left:0;
    margin-right:0;
    background-color:#D81B42;
    color:white;
    font-size:13pt;
    padding:20px;
}
#BotaoEmpresas:hover,#BotaoServicos:hover
{
    opacity:0.5;
}
#DivFormulario
{
    grid-area:formulario;
    height:100%;
    width:100%;
    position:relative;
    background-color:white;
    overflow:auto;
    display:block;

}
#DivFormulario p
{margin-bottom:50px;}
#botao_intro
{
    cursor:default;
    user-select: none;
    color:gray;
    grid-area: botaointro_txt;
    margin-left: 1.5em;
    margin-right: auto;
}

select{
text-align:center;
width:auto;
height:auto;
font-size:13pt;
overflow:hidden;
margin:40px;
margin-top:0;}
input[type=submit]
{
    position:relative;
    background-color:#D81B42;
    color:white;
    width:40%;
    min-width:170px;
    margin:5px;
}
input[type=text]
{
    width:40%;
    min-width:170px;
    height:auto;
    margin:5px;
}
input[type=submit]:hover
{opacity:0.5;}
#form{
overflow:hidden;
height:100%;
width:100%;
margin-top: 3%;
display:grid;
grid-template-rows:1fr 1fr 1fr 7fr;
grid-template-columns:1fr 1fr;
grid-template-areas:
"listbox InputTxt"
"listbox btAdd"
"listbox btRmv"
"listbox x";}
#form2{
    overflow:auto;
    height:100%;
    width:100%;
    display:grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1r 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-areas:
    "tabela tabela tabela tabela"
    "tabela tabela tabela tabela"
    "nomelbl telefonelbl emaillbl regiaolbl"
    "nometxt telefonetxt emailtxt regiaotxt"
    "chb chb chb chb"
    "btAdd btAdd btAdd btAdd"
    "Rmvtxt btRmv x x"
        ;}
table
{
    margin:auto;
    overflow:auto;
}

#add_empresa{
    width: 100%;
    height:100%;
}

#txtnome, #txttelefone, #txtemail{
    
    width: 90%;
    height:auto;
    text-align: center;
    margin:auto;
    margin-top: -30px;
    font-size: 20pt;
}
#txtregiao{
    width: 90%;
    height:auto;
    text-align: center;
    margin:auto;
    margin-top: -30px;
    font-size: 15pt;
}
#txtremove
{
    width: 90%;
    height:auto;
    text-align: center;
    margin-bottom:0;
    margin:auto;
    margin-top:20px;
    font-size: 20pt;
}

p{
    text-align: center;
    margin-bottom: 0;
}


#divchb{
    width: 100%;
    height: auto;
   display:flex;
   flex-grow: 1;
   flex-wrap: wrap;
   justify-content: flex-start;
   margin-right: 1em;
   align-content: flex-start;
}

.chb{
    margin-right: .3em;
    padding: 1em;
    background-color:#D81B42; 
    color: white;
    cursor:default;
    user-select:none;
    
}
#rmv_empresa{
    margin-top:20px;
    padding:10px;
}