@font-face{
    font-family: Aller;
     src: url("Fonte/Aller_Std_Lt.ttf");
}
body{
    background-color: white;
    display:grid;
    position:absolute;
    width:100%;
    height:100%;
    font-size:11pt;
    font-family:Aller;
    margin-top:0;
    margin-left:0;
    
    grid-template-columns:1fr 3fr;
    grid-template-rows: .5fr .5fr auto 2fr;
    grid-template-areas:
    "nav nav"
    "titulo titulo"
    "area resultado"
    "regiao resultado";
}

#NavTitulo
{
    grid-area: nav;
    color: white;
    width:100vw;
    height:5em;
    background-color:#D81B42;
    display:inline;
}
#DivTitulo
{
    grid-area:titulo;
    display:grid;
    width:100%;
    grid-template-columns:150px 260px auto;
    grid-template-rows:100%;
    grid-template-areas:
    "linha1 titulo linha2";
}
#linhapequena{
    position:relative;
    width:100%;
    height:5px;
    background-color: #00FFFD;
    grid-area:linha1;
    margin-top:auto;
    margin-bottom:auto;
}
#DivTitulo h1
{
    grid-area:titulo;
    padding:20px;
    color:#D81B42;
}
#linhagrande{
    position:relative;
    width:100%;
    height:5px;
    background-color: #00FFFD;
    grid-area:linha2;
    
    margin-top:auto;
    margin-bottom:auto;
}
#DivRegioes
{
    grid-area:regiao;
    height:365px;
    width:350px;
    margin-right: 5px;
    margin-top: 10px;
    margin-left:5px;
    position:relative;
    background-color:white;
    border: 2px solid;
    border-color: #00FFFD;
    border-radius:20px;
    cursor:default;
    user-select: none;
    
}
#DivAreas
{
    grid-area:area;
    height:100%;
    width:350px;
    margin: 5px;
    background-color:white;
    position: relative;
    display:grid;
    grid-template-columns:115px 115px 115px;
    grid-template-rows:40px 30px 30px 30px 30px;
    grid-template-areas:
    "title title title"
    "1a 2a 3a"
    "4a 5a 6a"
    "7a 8a 9a"
    "10a 11a 12a";
     border-style: solid;
    border-width: 2px;
    border-color: #00FFFD;
    border-radius:20px;
    cursor:default;
    user-select: none;
}
#DivResultados
{
    grid-area:resultado;
    height:100%;
    width:100%;
    position:relative;
    background-color:white;
    overflow:auto;
    display:flex;
    flex-wrap:wrap;
}
#DivResultados p
{margin-bottom:50px;}
.caixaresultado_pai
        {
          position:relative;
          height:100px;
          width:200px;
          text-align: center;
          vertical-align:middle;
          border-radius:5%;
          background-color:white;
          border-color:#D81B42;
          border-style:solid;
          border-width:1px;
          overflow:hidden;
          transition:color 0.4s;
          margin:5px;
        }
.caixaresultado_filho
  {
      position:absolute;
      font-size:0.7em;
      top:100px;
      height:100px;
      width:200px;
      border-radius:5%;
      background-color:#D81B42;
      opacity:0;
      text-align: center;
      transition:transform cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s,
      opacity cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
  }
  .caixaresultado_filho h2
  {font-size:12pt;}
  div.caixaresultado_pai:hover
{
    color:transparent;
}
div.caixaresultado_pai:hover div.caixaresultado_filho
{
    opacity:0.8;
    transform:translateY(-100px);
    color:black;
}

.botaoarea_pai
{position:relative;
display:block;
background-color:white;
padding:5px;
text-align:left;
margin:auto 0;

}

.botaoarea_pai:hover
{
    border-color:#FF1493;
    border-style:solid;
    border-width:1px;
    height: 60%;
}
.imgmap
{
    height:350px;
    width:200px;top:0;
    position:absolute;
    display:block;
    margin: 0 70px;
}
#Map area
{
    cursor:default;
}